//Script de ressources généré par Microsoft Visual C++.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 2.
//

#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#ifdef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE  
BEGIN
	"resource.h\0"
END

2 TEXTINCLUDE  
BEGIN
	"#include ""afxres.h""\r\n"
	"\0"
END

3 TEXTINCLUDE  
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
	"\r\n"
	"#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)\r\n"
	"LANGUAGE 12, 1\r\n"
	"#pragma code_page(1252)\r\n"
	"#include ""res\\test.rc2""  // ressources non modifiées par Microsoft Visual C++ \r\n"
	"#include ""afxres.rc""  	// Composants standard\r\n"
	"#include ""afxprint.rc""	// ressources impression/aperçu avant impression\r\n"
	"#endif\r\n"
	"\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icône
//

// L'icône avec la valeur d'ID la plus basse est placée en premier afin que l'icône d'application
// soit cohérente sur tous les systèmes.

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)
IDR_MAINFRAME           ICON         "res\\test.ico"
IDR_testTYPE         ICON         "res\\testDoc.ico"
#endif
/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDR_MAINFRAME           BITMAP      "res\\Toolbar.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Barre d'outils
//

IDR_MAINFRAME TOOLBAR   16, 15
BEGIN
    BUTTON      ID_FILE_NEW
    BUTTON      ID_FILE_OPEN
    BUTTON      ID_FILE_SAVE
	SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
	SEPARATOR
    BUTTON      ID_FILE_PRINT
    BUTTON      ID_APP_ABOUT
END



#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)
/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINFRAME MENU   
BEGIN
	POPUP "&Fichier"
	BEGIN
		MENUITEM "&Nouveau\tCtrl+N",                ID_FILE_NEW
		MENUITEM "&Ouvrir...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM SEPARATOR
		MENUITEM "&Configuration de l'impression...",             ID_FILE_PRINT_SETUP
		MENUITEM SEPARATOR
		MENUITEM "Fichier récent",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Fermer",                      ID_FILE_CLOSE
		MENUITEM "&quitter",                       ID_APP_EXIT
	END
	POPUP "&Affichage"
	BEGIN
		MENUITEM "&barre d'outils",                    ID_VIEW_TOOLBAR
		MENUITEM "&barre d'état",                 ID_VIEW_STATUS_BAR
	END
	POPUP "&Aide"
	BEGIN
		MENUITEM "&À propos de test...",          ID_APP_ABOUT
	END
END
IDR_testTYPE MENU   
BEGIN
	POPUP "&Fichier"
	BEGIN
		MENUITEM "&Nouveau\tCtrl+N",                ID_FILE_NEW
		MENUITEM "&Ouvrir...\tCtrl+O",            ID_FILE_OPEN
		MENUITEM "&Fermer",                      ID_FILE_CLOSE
		MENUITEM "&Enregistrer\tCtrl+S",               ID_FILE_SAVE
		MENUITEM "Enregistrer &sous...",                 ID_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "&Imprimer...\tCtrl+P",           ID_FILE_PRINT
		MENUITEM "&Aperçu avant impression",              ID_FILE_PRINT_PREVIEW
		MENUITEM "&Configuration de l'impression...",             ID_FILE_PRINT_SETUP
		MENUITEM SEPARATOR
		MENUITEM "Fichier récent",                 ID_FILE_MRU_FILE1,GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&quitter",                       ID_APP_EXIT
	END
	POPUP "&Edition"
	BEGIN
		MENUITEM "&Annuler\tCtrl+Z",               ID_EDIT_UNDO
		MENUITEM SEPARATOR
		MENUITEM "&Couper\tCtrl+X",                ID_EDIT_CUT
		MENUITEM "C&opier\tCtrl+C",               ID_EDIT_COPY
		MENUITEM "Co&ller\tCtrl+V",              ID_EDIT_PASTE
	END
	POPUP "&Affichage"
	BEGIN
		MENUITEM "&barre d'outils",                    ID_VIEW_TOOLBAR
		MENUITEM "&barre d'état",                 ID_VIEW_STATUS_BAR
	END
	POPUP "&Fenêtre"
	BEGIN
		MENUITEM "&Nouvelle fenêtre",                 ID_WINDOW_NEW
		MENUITEM "&Cascade",                    ID_WINDOW_CASCADE
		MENUITEM "&Mosaïque",                       ID_WINDOW_TILE_HORZ
		MENUITEM "&Réorganiser les icônes",              ID_WINDOW_ARRANGE
	END
	POPUP "&Aide"
	BEGIN
		MENUITEM "&À propos de test...",          ID_APP_ABOUT
	END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accélérateur
//

IDR_MAINFRAME ACCELERATORS   
BEGIN
	"N",            ID_FILE_NEW,            VIRTKEY,CONTROL
	"O",            ID_FILE_OPEN,           VIRTKEY,CONTROL
	"S",            ID_FILE_SAVE,           VIRTKEY,CONTROL
	"P",            ID_FILE_PRINT,          VIRTKEY,CONTROL
	"Z",            ID_EDIT_UNDO,           VIRTKEY,CONTROL
	"X",            ID_EDIT_CUT,            VIRTKEY,CONTROL
	"C",            ID_EDIT_COPY,           VIRTKEY,CONTROL
	"V",            ID_EDIT_PASTE,          VIRTKEY,CONTROL
	VK_BACK,        ID_EDIT_UNDO,           VIRTKEY,ALT
	VK_DELETE,      ID_EDIT_CUT,            VIRTKEY,SHIFT
	VK_INSERT,      ID_EDIT_COPY,           VIRTKEY,CONTROL
	VK_INSERT,      ID_EDIT_PASTE,          VIRTKEY,SHIFT
	VK_F6,          ID_NEXT_PANE,           VIRTKEY 
	VK_F6,          ID_PREV_PANE,           VIRTKEY,SHIFT
END

/////////////////////////////////////////////////////////////////////////////
//
// Boîte de dialogue
//

IDD_ABOUTBOX DIALOGEX   0, 0, 235, 55
CAPTION "À propos de test"
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
	ICON            IDR_MAINFRAME,IDC_STATIC,11,17,20,20
	LTEXT           "test Version 1.0",IDC_STATIC,40,10,119,8,
                    SS_NOPREFIX
	LTEXT           "Copyright (C) 2004",IDC_STATIC,40,25,119,8
	DEFPUSHBUTTON   "OK",IDOK,178,7,50,16,WS_GROUP
END


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO     VERSIONINFO
  FILEVERSION       1,0,0,1
  PRODUCTVERSION    1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
        BLOCK "040c04e4"
		BEGIN 
            VALUE "CompanyName", "TODO: <Nom de la société>"
            VALUE "FileDescription", "TODO: <Description du fichier>"
			VALUE "FileVersion",     "1.0.0.1"
			VALUE "InternalName",    "test.exe"
            VALUE "LegalCopyright", "TODO: (c) <Nom de la société>. Tous droits réservés."
			VALUE "OriginalFilename","test.exe"
            VALUE "ProductName", "TODO: <Nom du produit>"
			VALUE "ProductVersion",  "1.0.0.1"
		END
	END
	BLOCK "VarFileInfo" 
	BEGIN 
		VALUE "Translation", 0x040c, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO  
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 228
        TOPMARGIN, 7
        BOTTOMMARGIN, 48
    END
END
#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Table de chaînes
//

STRINGTABLE   
BEGIN
// Pour les applications cibles non Macintosh, les deux sous-chaînes supplémentaires sont supprimées
	IDR_MAINFRAME           "test"
	IDR_testTYPE         "\ntest\ntest\n\n\ntest.Document\ntest.Document"
END
STRINGTABLE   
BEGIN
	AFX_IDS_APP_TITLE       "test"
	AFX_IDS_IDLEMESSAGE     "Prêt"
END
STRINGTABLE  
BEGIN
	ID_INDICATOR_EXT        "EXT"
	ID_INDICATOR_CAPS       "MAJ"
	ID_INDICATOR_NUM        "NUM"
	ID_INDICATOR_SCRL       "DÉFIL"
	ID_INDICATOR_OVR        "RFP"
	ID_INDICATOR_REC        "ENR"
END
STRINGTABLE  
BEGIN
	ID_FILE_NEW             "Crée un nouveau document\nNouveau"
	ID_FILE_OPEN            "Ouvre un document existant\nOuvrir"
	ID_FILE_CLOSE           "Ferme le document actif\nFermer"
	ID_FILE_SAVE            "Enregistre le document actif\nEnregistrer"
	ID_FILE_SAVE_AS         "Enregistre le document actif sous un nouveau nom\nEnregistre sous"
	ID_FILE_PAGE_SETUP      "Modifie les options d'impression\nMise en page"
	ID_FILE_PRINT_SETUP     "Modifie les options d'impression et celles de l'imprimante\nConfiguration de l'impression"
	ID_FILE_PRINT           "Imprime le document actif\nImprimer"
	ID_FILE_PRINT_PREVIEW   "Affiche les pages entières\nAperçu avant impression"
	ID_APP_ABOUT            "Affiche des informations concernant le programme, le numéro de version et le copyright\nÀ propos de"
	ID_APP_EXIT             "Quitte l'application et invite à enregistrer les documents\nQuitter"
	ID_FILE_MRU_FILE1       "Ouvrir ce document"
	ID_FILE_MRU_FILE2       "Ouvrir ce document"
	ID_FILE_MRU_FILE3       "Ouvrir ce document"
	ID_FILE_MRU_FILE4       "Ouvrir ce document"
	ID_FILE_MRU_FILE5       "Ouvrir ce document"
	ID_FILE_MRU_FILE6       "Ouvrir ce document"
	ID_FILE_MRU_FILE7       "Ouvrir ce document"
	ID_FILE_MRU_FILE8       "Ouvrir ce document"
	ID_FILE_MRU_FILE9       "Ouvrir ce document"
	ID_FILE_MRU_FILE10      "Ouvrir ce document"
	ID_FILE_MRU_FILE11      "Ouvrir ce document"
	ID_FILE_MRU_FILE12      "Ouvrir ce document"
	ID_FILE_MRU_FILE13      "Ouvrir ce document"
	ID_FILE_MRU_FILE14      "Ouvrir ce document"
	ID_FILE_MRU_FILE15      "Ouvrir ce document"
	ID_FILE_MRU_FILE16      "Ouvrir ce document"
	ID_NEXT_PANE            "Bascule vers le volet de fenêtre suivant\nVolet suivant"
	ID_PREV_PANE            "Bascule vers le volet de fenêtre précédent\nVolet précédent"
	ID_WINDOW_NEW           "Ouvre une autre fenêtre pour le document actif\nNouvelle fenêtre"
	ID_WINDOW_ARRANGE       "Réorganise les icônes en bas de la fenêtre\nRéorganiser les icônes"
	ID_WINDOW_CASCADE       "Réorganise les fenêtres de façon à ce qu'elles se superposent\nCascade"
	ID_WINDOW_TILE_HORZ     "Réorganise les fenêtres en mosaïque de sorte qu'elles ne se superposent pas\nMosaïque"
	ID_WINDOW_TILE_VERT     "Réorganise les fenêtres en mosaïque de sorte qu'elles ne se superposent pas\nMosaïque"
	ID_WINDOW_SPLIT         "Fractionne la fenêtre active en volets\nFractionner"
	ID_EDIT_CLEAR           "Efface la sélection\nEffacer"
	ID_EDIT_CLEAR_ALL       "Efface tout\nEffacer tout"
	ID_EDIT_COPY            "Copie la sélection et la place dans le Presse-papiers\nCopier"
	ID_EDIT_CUT             "Coupe la sélection et la place dans le Presse-papiers\nCouper"
	ID_EDIT_FIND            "Recherche le texte spécifié\nRechercher"
	ID_EDIT_PASTE           "Insère le contenu du presse-papiers\nColler"
	ID_EDIT_REPEAT          "Répète la dernière action\nRépéter"
	ID_EDIT_REPLACE         "Remplace un texte spécifié par un texte différent\nRemplacer"
	ID_EDIT_SELECT_ALL      "Sélectionne la totalité du document\nSélectionner tout"
	ID_EDIT_UNDO            "Annule la dernière action\nAnnuler"
	ID_EDIT_REDO            "Rétablit l'action précédemment annulée\nRétablir"
	ID_VIEW_TOOLBAR         "Affiche ou masque la barre d'outils\nActiver/Désactiver Barre d'outils"
	ID_VIEW_STATUS_BAR      "Affiche ou masque la barre d'état\nActiver/Désactiver Barre d'état"
END

STRINGTABLE  
BEGIN
	AFX_IDS_SCSIZE          "Modifie la taille de la fenêtre"
	AFX_IDS_SCMOVE          "Modifie la position de la fenêtre"
	AFX_IDS_SCMINIMIZE      "Affiche la fenêtre sous forme d'icône"
	AFX_IDS_SCMAXIMIZE      "Affiche la fenêtre en plein écran"
	AFX_IDS_SCNEXTWINDOW    "Bascule vers la fenêtre de document suivante"
	AFX_IDS_SCPREVWINDOW    "Bascule vers la fenêtre de document précédente"
	AFX_IDS_SCCLOSE         "Ferme la fenêtre active et propose l'enregistrement des documents"
	AFX_IDS_SCRESTORE       "Restaure la fenêtre à sa taille normale"
	AFX_IDS_SCTASKLIST      "Active la liste des tâches"
	AFX_IDS_MDICHILD        "Active cette fenêtre"
	AFX_IDS_PREVIEW_CLOSE   "Ferme le mode Aperçu avant l'impression\nAnnuler aperçu"
END

#endif

#ifdef _UNICODE
IDR_MANIFEST	RT_MANIFEST	"res\\test.manifest"
#endif

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 3.
//

#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)
#include "res\\test.rc2"  // ressources non modifiées par Microsoft Visual C++
#include "afxres.rc"  	// Composants standard
#include "afxprint.rc"  // ressources impression/aperçu avant impression
#endif
#endif    // not APSTUDIO_INVOKED
